
body {
	background: #333333;
	margin: auto;
	overflow: hidden;
}

canvas {
	margin: auto;
}

.debug {
	position: absolute;
	top: 0em;
	font-family: monospace;
	font-size: 3em;
	color: white;
	white-space: pre;
}

.loading {
	position: absolute;
	left: 50%;
	top: 50%;
	font-family: monospace;
	font-size: 3em;
	color: white;
	white-space: pre;
}