
body {
	background: #333333;
	margin: auto;
	text-align: center;
	overflow: hidden;
}

canvas {
	margin: auto;
}

.debug {
	position: absolute;
	left: 0em;
	top: 0em;
	font-family: monospace;
	font-size: 3em;
	color: white;
}
